In [1]:
import pandas as pd

In [9]:
trout_file_path = r"C:\Users\yuri7100\Desktop\Fires.csv"
data = pd.read_csv(trout_file_path)
data.describe()

,FOD_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DOY,CONT_TIME,FIRE_SIZE,LATITUDE,LONGITUDE,OWNER_CODE,FIPS_CODE
count,1.200000e+02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,120.000000,120.000000,118.000000,120.000000,120.000000,119.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,3.001633e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.316667,124.966667,1506.881356,6.141667,124.983333,1517.983193,0.529083,35.875052,-81.312908,12.533333,17.733333
std,8.950095e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.467127,106.829160,310.244243,2.111576,106.864792,360.075486,1.097456,0.060125,0.116238,2.611974,12.183287
min,3.000756e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,9.000000,17.000000,1.000000,9.000000,7.000000,0.010000,35.790116,-81.476883,7.000000,3.000000
25%,3.000942e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,58.000000,1334.500000,5.000000,58.000000,1379.500000,0.100000,35.826108,-81.403975,14.000000,3.000000
50%,3.001158e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,87.500000,1487.000000,5.000000,87.500000,1548.000000,0.200000,35.862183,-81.353942,14.000000,27.000000
75%,3.002919e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.000000,146.250000,1641.500000,8.000000,146.250000,1685.500000,0.500000,35.914975,-81.185883,14.000000,27.000000
max,3.002938e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.000000,362.000000,2350.000000,10.000000,362.000000,2333.000000,10.000000,36.012500,-81.093183,14.000000,35.000000

In [10]:
data.columns

Index(['FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME'],
      dtype='object')

In [7]:
data_cleaned = data.dropna()

In [13]:
y = data.FIRE_SIZE
y

0       0.10
1       0.10
2       1.30
3      10.00
4       0.30
       ...
115     1.00
116     0.10
117     0.30
118     0.10
119     0.02
Name: FIRE_SIZE, Length: 120, dtype: float64